html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
  background: url("bg.jpg.jpeg") no-repeat center center fixed;

  background-size: cover;
  background-size: 100% 180%;
}


/* طبقة التغميق */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(19, 18, 18, 0.55);
  z-index: 1;
}

/* الصندوق */
.box {
  position: relative;
  z-index: 3;
  background: rgba(19, 47, 58, 0.9);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 300px;

  /* التوسيط */
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  width: 100%;
  background: #f4a261;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #e76f51;
}

#error {
  color: #ff6b6b;
  margin-top: 10px;
}
